*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #eef5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}


.main-container{
    background-color: #ffffff;
    flex-basis: 50em;
    display: flex;
    padding: 1em;
    gap: 4em;
    min-height: 30em;
}


/* side bar  */


li{
    list-style-type: none;
    display: flex;
    gap: 1em;
    /* border: 1px solid; */
}

li p{
    border: 1px solid;
    padding-top: 3px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 13px;
}

li div{
    display: flex;
    flex-direction: column;
    color: #fff;
    /* font-size: 13px; */
}

.bold{
    font-weight: bold;
}

.size12px{
    font-size: 12px;
}

.size13px{
    font-size: 13px;
}

.side-bar{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-size: cover;
    /* border: 1px solid; */
    border-radius: 1em;
    padding: 2em 5em 0 2em;
}


/* personal info  */

.inner-personal-container{
    padding: 1em 2em 0 1em;
    /* display: none; */
    flex-basis: 60%;
}

.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid; */
    height: 100%;
    /* gap: 3em; */
    /* border: 1px solid; */
}


.personal-info label{
    font-size: 14px;
    font-weight: bold;
}

.gray{
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

.grayColor{
    color : gray;
}



.personal-info div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.nextPage{
    align-self: flex-end;
    padding: 10px;
    background-color: #174A8B;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.goBack{
    align-self: flex-end;
    background-color: transparent;
    padding: 10px;
    color: gray;
    border: none;
    font-weight: 570;
}

.goBack:hover{
    color: #000;
}

button[type=submit]:hover{
    cursor: pointer;
}

input{
    height: 2.2em;
    border-radius: 6px;
    padding-left: 1em;
}



/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
 */





/*    plan-info    */


.inner-plan-container{
    flex-basis: 60%;
    padding: 1em 2em 0 1em;
    /* border: 1px solid; */
    display: none;
}

.plan-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* display: none; */
    height: 100%;
}

.flex1emGap{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.middle-plan-section{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.all-plans{
    display: flex;
    gap: 1em;
    /* border: 1px solid; */
    /* justify-content: space-between; */
}

.plan{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    padding: 1em;
    flex-grow: 1;
    gap: 2em;
}


.all-plans div img{
    height: 40px;
    width: 40px;
}

.btn{
    display: flex;
    justify-content: space-between;
}

.backgroundNull{
    background-color: none;
}



input[type="range"] {
    width: 3em;
    height: 1.6em;
    background-color: hsl(240, 37%, 59%);
    padding: 2px;
    border-radius: 16px;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #ece2e2;
    border-radius: 50%;

}

.range-choice-container{
    display: flex;
    justify-content: center;
    gap: 1em;
    /* border: 1px solid; */
    background-color: #eef5ff;
    padding: 5px 0;
}



/* add-ons  */


.inner-pick-add-ons-container{
    display: none;
    padding: 1em 2em 0 1em;
    flex-basis: 60%;
}

.add-ons{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    height: 100%;
    justify-content: space-around;
}

.all-services{
    display : flex;
    flex-direction: column;
    gap: 1em;
}

.service{
    display:flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
}

.service span{
    /* align-self: end; */
    margin-left: auto;
    color: #174A8B;
    font-weight: bold;
    font-size: 14px;
}

.service section{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 3px;
}


/* finishing up  */


.inner-finish-container{
    display: none;
    padding: 1em 2em 0 1em;
    flex-basis: 60%;
}

.finish{
    /* display: none; */
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-finish-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.final-page{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#final-section{
    /* border: 1px solid; */
    background-color: #f7f8fc;
}

#final-section section:first-child{
    border-bottom: 1px solid lightgray;
}


.final-service{
    display: flex;
    /* border: 1px solid; */
    padding: 12px;
}

.blueColor{
    color: #174A8B;
}





.final-service p,
.final-service h4{
    margin-left: auto;
}



/* thank-you page */

.thanks{
    display: none;
    /* border: 1px solid; */
    flex-basis: 60%;
}

.thanks div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100%;
}



.currentPage{
    background-color: skyblue;
    color: #000;
    font-weight: bold;
}

.getData{
    display: flex;
    justify-content: space-between;
}

.getData p{
    /* display: none; */
}

.error{
    color: red;
    font-size: 13px;
}



@media (max-width:380px) {

    /* main-container  */


    .main-container{
        /* all: unset; */
        flex-direction: column;
        padding: 0;
        min-height: 100vh;
        border: 1px solid;
        gap: 0;
    }
    .side-bar{
        background-image: url(assets/images/bg-sidebar-mobile.svg);
        flex-direction: row;
        justify-content: center;
        flex-grow: 1;
        /* padding: 1em 3em 4em 3em; */
        padding: 2em;
        flex-grow: 1.5;
        border-radius: 0;
        gap: 1em;
    }


    li p{
        /* height: 30px;
        width: 30px;
        font-size: 20px; */
    }

    li div{
        display: none;
    }


    /* personal-info  */


    .inner-personal-container{
        /* background-color: #f7f8fc; */
        /* border: 1px solid; */
        flex-grow: 3;
        flex-basis: 100%;
        height: 100%;
        padding: 1em;
    }

    .personal-info{
        transform: translateY(-4em) ;
        border: 1px solid;
        border-radius: 1em;
        gap: 1em;
        padding: 1em;
        background-color: #fff;
        height: 25em;
    }


    /* plan-info  */


    .inner-plan-container{
        /* background-color: #f7f8fc; */
        /* border: 1px solid; */
        flex-grow: 3;
        padding: 1em;
        flex-basis: 100%;
        /* gap: 0; */
    }


    .plan-info{
        transform: translateY(-4em) ; 
        border: 1px solid;
        border-radius: 1em;
        gap: 0;
        padding: 1em;
        background-color: #fff;
        height: 25em;
    }

    .all-plans{
        flex-direction: column;
        padding: 0;
    }

    .plan{
        /* padding: 1em; */
        flex-direction: row;
        gap: 1em;
        padding: 0.5em;
        align-items: center;
    }


    /* pick-add-ons  */

    .inner-pick-add-ons-container{
        flex-grow: 3;
        padding: 1em;
        flex-basis: 100%;
    }

    .add-ons{
        transform: translateY(-4em) ; 
        border: 1px solid;
        border-radius: 1em;
        gap: 0;
        padding: 1em;
        background-color: #fff;
        height: 25em;
    }


    /* finish-page  */ 

    .inner-finish-container{
        flex-grow: 3;
        padding: 1em;
        flex-basis: 100%;
    }


    .finish{
        transform: translateY(-4em) ; 
        border: 1px solid;
        border-radius: 1em;
        gap: 0;
        padding: 1em;
        background-color: #fff;
        height: 25em;
    }


    /* thanks page  */

    .thanks{
        flex-grow: 3;
        padding: 1em;
        flex-basis: 100%;
    }

    .thanks div{
        transform: translateY(-4em) ; 
        border: 1px solid;
        border-radius: 1em;
        /* gap: 0; */
        padding: 1em;
        background-color: #fff;
        height: 25em;
    }
    .thanks div p{
        text-align: center;
    }

}

